@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

body {
    font-family: 'Outfit', sans-serif;
}

input {
    background-color: var(--color-zinc-800);
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-lg);
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: 100ms;
    transition-property: background-color, border-color, box-shadow, transform;
}

input:focus {
    background-color: var(--color-zinc-700);
    outline: none;
}